.desktop-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	user-select: none;
	text-align: center;
	border: solid 1px transparent;
	border-radius: 3px;
	padding: 4px;
	transition: filter .2s;
}

.desktop-element:hover {
	cursor: pointer;
	background: rgba(20, 20, 200, 0.1);
	border-color: rgba(20, 20, 200, 0.2);
}

.desktop-element--icon {
	width: 100%;
	margin: 8px;
	height: calc(100% - 2rem);
}