#context-menu {
	position: absolute;
	width: 200px;
	background: #D1D1D1;
	color: #222;
	z-index: 10000;
	user-select: none;
}

.context-menu--option {
	transition: all .2s;
	padding: 4px;
}

.context-menu--option:hover {
	background: rgba(50, 65, 210, 0.5);
	padding-left: 8px;
	cursor: default;
}