.window {
	position: absolute;
	display: flex;
	flex-direction: column;
	border: solid var(--blue) 3px;
	background: #FFF;
	min-height: 64px;
	box-shadow: 0px 0px 2px var(--navy);
}

.window--info-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	background: var(--blue);
	padding: 0 8px;
	user-select: none;
	color: white;
}

.window--icon {
	height: 20px;
	width: 20px;
	box-shadow: 0px 0px 2px var(--navy);
}

.window--close {
	font-weight: bold;
	display: flex;
}

.window--close:hover { cursor: pointer; }