:root {
	--kaki: #96934C;
    --green: #B0CD23;
    --blue: #3498db;
    --purple: #9b59b6;
    --pink: #df6bc6;
    --navy: #294FB7;
    --orange: #e67e22;
    --red: #e74c3c;
    --yellow: #e6c222;
    --black: black;
    --white: #FFF;
    --brown: #744a14;
    --seal: #467B75;
}